<div class="title_space">
      <div class="col-md-6 col-sm-12 h-100 title_text">
        <p class="h5 text-center">
          遊びたいこと・やってみたいことがあるけど<br />
          一緒に出来る人が近くにいない人のための<br />
          共に遊べる人を見つける SNS
        </p>
      </div>
</div>
